<div class="frame">

  <div class="box r-card split">

    <div class="item-title">
      <b>Hitachi Digital Payment Solutions Philippines, Inc.</b>
      <span class="subtitle">Associate Software Engineer (Flutter/Angular)</span>

      <br />
      <span class="tag">
        {{ experience.start | dateRange: experience.end }}
      </span>

    </div>

    <div class="item-img" [style.background-image]="'url(images/HITACHI.jpeg)'"></div>

  </div>

  <div class="circle highlight-border">
    <div class="arrow r-card"></div>
  </div>

</div>

