body, body::after, body::before,
.tag, .time-line, .circle {
  background-color: #191923;
  color: white;
}

.page-container {
  background-color: #1e1e28
}

.profile-container,
.sidebar {
  background-color: #20202A;
}

.r-card, .song-list-UI .song-item.active .song-info {
  background-color: #2B2B36;
}

.profile-card, .side-button {
  background-color: #24242F;
}

.song-list-UI-bg {
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #24242F;
  z-index: -10;
}


.highlight {
  color: #FF8F99 !important
}

.highlight-color {
  background-color: #FF8F99 !important
}

.dropdown-menu {
  position: relative;
  --bs-dropdown-bg: transparent;
  --bs-dropdown-link-active-bg: #FF8F99;
  --bs-dropdown-link-hover-bg: #abc5ff17;
  --bs-dropdown-link-hover-color: inherit;
  --bs-dropdown-color: inherit;
  --bs-dropdown-link-color: inherit;
}

.highlight-border {
  border-color: #FF8F99
}

input[type="range"] {
  accent-color: #FF8F99
}

.banner .background-image {
  background-image: url('/images/banner-photo.jpg');
}

.r-modal-backdrop {
  background-color: #00000085;
}

.fade-gradient {
  --bg-top: #2C2C2C;
  --bg-bottom: #5b5b5b00;
  background-image: linear-gradient(0deg, var(--bg-top), var(--bg-bottom));
}
