body.kenma-theme,
body.kenma-theme::after,
body.kenma-theme::before,
.kenma-theme .time-line,
.kenma-theme .circle {
  --text-color: #fcfaeb;
  background-color: #1b1716;
  --scrollbar-color: #353535;
  --scrollbar-color-hover: #494949;
}

.kenma-theme .tag {
  background-color: #a10000;
}


.kenma-theme .page-container {
  background-color: #000000
}

.kenma-theme .profile-container,
.kenma-theme .sidebar {
  background-color: #000000;
  color: white;
}

.kenma-theme .r-card {
  background-color: #1b1716;
}

.kenma-theme .song-list-UI .song-item.active .song-info {
  background-color: #1a1716;
}

.kenma-theme .profile-card,
.kenma-theme .side-button {
  background-color: #a10000;
}

.kenma-theme .song-list-UI {
  background-color: transparent !important;
}

.kenma-theme .highlight {
  color: #a10000 !important
}

.kenma-theme .highlight-color {
  background-color: white !important
  /*background-color: #ffd373 !important*/
}

.kenma-theme .highlight-border {
  border-color: #a10000
}

.kenma-theme input[type="range"] {
  accent-color: #a10000
}

.kenma-theme .music-bars span {
  background: #ffd373 !important
}

.kenma-theme .dropdown-menu {
  --bs-dropdown-link-active-bg: #a10000;
  --bs-dropdown-link-hover-bg: #353535;
}

.kenma-theme .portfolio-filters .tag.highlight-color {
  color: black;
}

/*================================================================*/

.kenma-theme .banner {
  color: white;
}

  .kenma-theme .banner .highlight {
    /*color: #fd3c3a !important;*/
  }

  .kenma-theme .banner .background-image {
    background-image: url('../../../../public/images/banner-photo-kenma.jpg');
    background-color: black;
  }

.kenma-theme .fade-gradient {
  --bg-top: #121212;
  --bg-bottom: #00000000;
  mix-blend-mode: multiply !important;
}


/*================================================================*/
.kenma-theme .nav-menu a:not(.active),
.kenma-theme .item-title .subtitle {
  opacity: 0.7 !important;
}

.kenma-theme .modal-content {
}

.kenma-theme .fade-gradient {
  --bg-top: #000000;
  --bg-bottom: #d3ff8c2b;
}

.kenma-theme .item-img::after {
  --bg-top: black;
}
