body.ren-theme,
body.ren-theme::after,
body.ren-theme::before {
  /*background-color: #eedabf;*/
  background-color: #4d201a;
  --text-color: #5a231a;
  --scrollbar-color: #c73433;
  --scrollbar-color-hover: #f74342;
}

.ren-theme .tag {
  background-color: #eedabf;
  color: inherit;
}

.ren-theme .time-line,
.ren-theme .circle {
  background-color: #d7c0a2
}

.ren-theme .page-container {
  background-color: #eedabf
}

.ren-theme .profile-container,
.ren-theme .sidebar {
  background-color: #68191f;
  color: white;
}

.ren-theme .r-card {
  background-color: #fff7e7;
}

.ren-theme .song-list-UI .song-item.active .song-info {
  background-color: #68191f;
}

.ren-theme .profile-card,
.ren-theme .side-button {
  background-color: #ab3130;
  color: white;
}

.ren-theme .song-list-UI {
  background-color: #ab3130 !important;
}

.ren-theme .highlight {
  color: #ab3130 !important
}

.ren-theme .highlight-color {
  background-color: #eedabf !important
}

.ren-theme .highlight-border {
  border-color: #ab3130
}

.ren-theme input[type="range"] {
  accent-color: #9F2936
}

.ren-theme .music-bars span {
  background: #9F2936 !important
}

.ren-theme .dropdown-menu {
  --bs-dropdown-link-active-bg: #ab3130;
  --bs-dropdown-link-hover-bg: #d7c0a2;
}

.ren-theme .portfolio-filters .tag.highlight-color {
  background-color: #ab3130 !important;
  color: white;
}

/*================================================================*/

.ren-theme .banner {
  color: white;
}

  .ren-theme .banner .highlight {
    color: #fd3c3a !important;
  }

  .ren-theme .banner .background-image {
    background-image: url('../../../../public/images/banner-photo-ren.jpg');
    background-color: #ab3130;
  }

.ren-theme .fade-gradient {
  --bg-top: #4e2d00;
  --bg-bottom: transparent;
  mix-blend-mode: multiply !important;
}

/*================================================================*/
.ren-theme .nav-menu a:not(.active),
.ren-theme .item-title .subtitle {
  opacity: 0.7 !important;
}

.ren-theme .modal-content {
  background: linear-gradient(180deg, #fff7e7, #ffffffa6, #ffffffb3) !important
}

.ren-theme .item-img::after {
  --bg-top: #68191f;
}

@media (max-width: 1320px) {
  .ren-theme .profile-container:not(.active) .side-button,
  .ren-theme .profile-container:not(.active),
  .ren-theme .sidebar:not(.active) .side-button,
  .ren-theme .sidebar:not(.active) {
    color: var(--text-color);
  }
}
