body.ren-theme,
body.ren-theme::after,
body.ren-theme::before,
.ren-theme .tag,
.ren-theme .time-line,
.ren-theme .circle {
  background-color: #eedabf;
  color: #5a231a;
  --scrollbar-color: #ab3130;
  --scrollbar-color-hover: #c73433;
}


.ren-theme .page-container {
  background-color: #fff7e7
}

.ren-theme .profile-container,
.ren-theme .sidebar {
  background-color: #68191f;
  color: white;
}

.ren-theme .r-card {
  background-color: white;
}

.ren-theme .song-list-UI .song-item.active .song-info {
  background-color: #f5f5f5;
}

.ren-theme .profile-card,
.ren-theme .side-button {
  background-color: #ab3130;
  color: white;
}

.ren-theme .song-list-UI {
  background-color: white !important;
}

.ren-theme .highlight {
  color: #ab3130 !important
}

.ren-theme .highlight-color {
  background-color: #eedabf !important
}

.ren-theme .highlight-border {
  border-color: #dda155
}

.ren-theme input[type="range"] {
  accent-color: #9F2936
}

.ren-theme .music-bars span {
  background: #9F2936 !important
}

.ren-theme .dropdown-menu {
  --bs-dropdown-link-active-bg: #9F2936;
  --bs-dropdown-link-hover-bg: #eaeaea;
}

/*================================================================*/
.ren-theme .nav-menu a:not(.active),
.ren-theme .item-title .subtitle {
  opacity: 0.7 !important;
}

.ren-theme .modal-content {
  background: linear-gradient(180deg, white, #ffffffa6, #ffffffb3) !important
}

.ren-theme .fade-gradient {
  --bg-top: #d3ff8c;
  --bg-bottom: #d3ff8c2b;
}

.ren-theme .item-img::after {
  --bg-top: white;
  --bg-bottom: #5b5b5b00;
}
