body.shoyo-theme,
body.shoyo-theme::after,
body.shoyo-theme::before {
  background-color: #e9c483;
  --text-color: white;
  --dark-text-color: #502500;
  --scrollbar-color: #9b9f24;
  --scrollbar-color-hover: #b6bb25;
}

.shoyo-theme .time-line,
.shoyo-theme .circle,
.shoyo-theme .tag {
  background-color: #f06e00
}


.shoyo-theme .page-container {
  background-color: #e8850a
}

.shoyo-theme .profile-container,
.shoyo-theme .sidebar {
  background-color: #6b6d28;
  color: white;
}

.shoyo-theme .r-card {
  background-color: #ffe9cc;
  color: var(--dark-text-color);
}

.shoyo-theme .song-list-UI .song-item.active .song-info {
  background-color: #ffd600;
  color: var(--text-color);
}

.shoyo-theme .profile-card,
.shoyo-theme .side-button {
  background-color: #f06e00;
}

.shoyo-theme .song-list-UI {
  background-color: #545613 !important;
}

.shoyo-theme .highlight {
  color: #ffd600 !important
}

.shoyo-theme #services .highlight {
  color: #f06e00 !important
}

.shoyo-theme .highlight-color {
  background-color: #ffd600 !important
}

.shoyo-theme .highlight-border {
  border-color: #ffd600
}

.shoyo-theme input[type="range"] {
  accent-color: #ffd600
}

.shoyo-theme .music-bars span {
  background: #ffd600 !important
}

.shoyo-theme .dropdown-menu {
  --bs-dropdown-link-active-bg: #f06e00;
  --bs-dropdown-link-hover-bg: #f5970e;
}

.shoyo-theme .banner {
  color: white;
}

/*================================================================*/

.shoyo-theme .banner {
  color: white;
}

  .shoyo-theme .banner .highlight {
    /*color: #fd3c3a !important;*/
  }

  .shoyo-theme .banner .background-image {
    background-image: url('../../../../public/images/banner-photo-shoyo.jpg');
    background-color: #1eb0db;
  }

.shoyo-theme .fade-gradient {
  --bg-top: #006bff;
  --bg-bottom: transparent;
  /*mix-blend-mode: normal !important;*/
}


/*================================================================*/
.shoyo-theme .nav-menu a:not(.active),
.shoyo-theme .item-title .subtitle {
  opacity: 0.7 !important;
}

.shoyo-theme .modal-content {
  background: linear-gradient(180deg, #ffe9cc, #ffffffa6, #ffffffb3) !important;
  color: var(--dark-text-color) !important;
}

.shoyo-theme .fade-gradient {
  /*  --bg-top: #d3ff8c;
  --bg-bottom: #d3ff8c2b;*/
}

.shoyo-theme .item-img::after {
  --bg-top: #6b6d28;
}

@media (max-width: 1320px) {
  .shoyo-theme .profile-container:not(.active) .side-button,
  .shoyo-theme .profile-container:not(.active),
  .shoyo-theme .sidebar:not(.active) .side-button,
  .shoyo-theme .sidebar:not(.active) {
    color: var(--text-color);
  }
}
