.nav-menu {
  padding: 0 30px;
  height: 80px;
  display: flex;
  gap: 50px;
  position: sticky;
  top: 15px;
  z-index: 10;
  align-items: center;
}

  .nav-menu::before {
    content: '';
    background-color: transparent;
    backdrop-filter: blur(40px);
    /**/
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
  }

  .nav-menu a {
    cursor: default;
    display: flex;
    height: 100%;
    align-items: center;
  }

    .nav-menu a:not(.active) {
      opacity: 0.3;
      cursor: pointer
    }

      .nav-menu a:not(.active):hover {
        opacity: 0.5;
      }

  .nav-menu .r-floating-div-container {
    z-index: -10;
  }

  .nav-menu .r-floating-div {
    /*  width: 1000px;
    height: 1000px;*/
    z-index: -1;
  }

  .nav-menu:hover .r-floating-div {
    opacity: 10%;
  }

.theme-button {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

  .theme-button button {
    color: inherit;
    background: none;
    box-shadow: none;
    border: none;
    padding: 10px;
  }

.dropdown-menu {

}

  .dropdown-menu a {
    opacity: 1 !important;
  }

  .dropdown-menu::before {
    content: '';
    background-color: #ffffff05;
    backdrop-filter: blur(40px);
    /**/
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
  }
