.nav-menu {
  padding: 0 30px;
  height: 80px;
  display: flex;
  gap: 50px;
  position: sticky;
  top: 15px;
  z-index: 10;
  align-items: center;
  backdrop-filter: blur(40px);
}

  .nav-menu a:not(.active) {
    opacity: 0.3
  }
