<div class="nav-menu">
  <a [class.active]="currentScroll === 'home'"
     (click)="scrollTo('home')">HOME</a>
  <a [class.active]="currentScroll === 'services'"
     (click)="scrollTo('services')">SERVICES</a>
  <a [class.active]="currentScroll === 'resume'"
     (click)="scrollTo('resume')">RESUME</a>
  <!--<a [class.active]="currentScroll === 'works'"
     (click)="scrollTo('works')">WORKS</a>
  <a [class.active]="currentScroll === 'contact'"
     (click)="scrollTo('contact')">CONTACT</a>-->

  <div class="theme-button">
    <div class="dropdown">
      <button class="dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        THEMES
      </button>

      <ul class="dropdown-menu dropdown-menu-end">

        <li *ngFor="let item of themes">

          <!-- Divider -->
          <hr *ngIf="item.type === 'divider'" class="dropdown-divider">

          <!-- Theme item -->
          <a *ngIf="item.type === 'theme'"
             class="dropdown-item"
             href="#"
             [class.active]="item.key === selectedTheme"
             (click)="onThemeSelect(item.key); $event.preventDefault()">
            {{ item.label }}
          </a>

        </li>

      </ul>
    </div>
  </div>


</div>
