<div class="nav-menu">
  <a [class.active]="currentScroll === 'home'"
     (click)="scrollTo('home')">HOME</a>
  <a [class.active]="currentScroll === 'services'"
     (click)="scrollTo('services')">SERVICES</a>
  <a [class.active]="currentScroll === 'resume'"
     (click)="scrollTo('resume')">RESUME</a>
  <!--<a [class.active]="currentScroll === 'works'"
     (click)="scrollTo('works')">WORKS</a>
  <a [class.active]="currentScroll === 'contact'"
     (click)="scrollTo('contact')">CONTACT</a>-->

  <!--<div class="theme-button">
    <div class="dropdown">
      <button class="dropdown-toggle"
              data-bs-toggle="dropdown" aria-expanded="false">
        THEME
      </button>

      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Dark Theme</a></li>
        <li><a class="dropdown-item" href="#">Light Theme</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Ren's Theme</a></li>
        <li><a class="dropdown-item" href="#">Tobio's Theme</a></li>
        <li><a class="dropdown-item" href="#">Shoyo's Theme</a></li>
        <li><a class="dropdown-item" href="#">Kenma's Theme</a></li>
      </ul>
    </div>
  </div>-->

</div>
