.nav-menu {
  padding: 0 30px;
  height: 80px;
  display: flex;
  gap: 50px;
  position: sticky;
  top: 15px;
  z-index: 10;
  align-items: center;
  backdrop-filter: blur(40px);
}

  .nav-menu a {
    cursor: default;
    display: flex;
    height: 100%;
    align-items: center;
  }

    .nav-menu a:not(.active) {
      opacity: 0.3;
      cursor: pointer
    }

      .nav-menu a:not(.active):hover {
        opacity: 0.5;
      }

  .nav-menu .r-floating-div-container {
    z-index: -10;
  }

  .nav-menu .r-floating-div {
    /*  width: 1000px;
    height: 1000px;*/
    z-index: -1;
  }

  .nav-menu:hover .r-floating-div {
    opacity: 10%;
  }
