@media (max-width: 1032px) {

  /*  body, html {
    scrollbar-width: none;
  }*/

  body::before, body::after {
    content: none;
  }

  body:has(.backdrop-overlay.active) {
    overflow: clip;
  }

  .main-frame {
    padding: 0 !important;
  }

  .content {
    padding: 30px 15px !important;
  }

  .r-col-4 {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .vertical-timeline {
    gap: 15px !important;
  }

  .r-col-2 {
    grid-template-columns: 1fr;
  }

  .nav-menu {
    top: 0 !important;
    gap: 0 !important;
    justify-content: space-evenly;
    position: fixed !important;
    width: 100%;
    padding: 0 50px !important;
    font-size: 8pt;
  }

  .profile-container {
    /*display: none !important;*/
    position: fixed !important;
    top: 0 !important;
    left: 0;
    height: 100vh !important;
    transition: 0.4s ease-in-out;
  }

    .profile-container .profile-side-button {
      height: 80px;
      align-items: center;
      justify-content: center;
      position: fixed;
      z-index: 2;
      left: 0;
      /**/
      display: flex !important;
      transition: 0.4s ease-in-out;
    }

    .profile-container.active .profile-side-button {
      left: calc(290px - 84px);
      padding: 30px !important;
    }

    .profile-container .profile-card {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }

    .profile-container .info-card {
      opacity: 0;
      transition: opacity 0s;
    }

    .profile-container.active .profile-card {
      opacity: 1;
      transition: opacity 0.4s ease-in-out 0.3s;
    }

    .profile-container.active .info-card {
      opacity: 1;
      transition: opacity 0.4s ease-in-out 0.6s;
    }

    .profile-container:not(.active) {
      background-color: transparent !important;
      overflow: hidden !important;
    }


  .sidebar {
    position: fixed !important;
    top: 0 !important;
    right: 0;
    height: 100vh !important;
  }

    .sidebar:not(.active) .side-button,
    .sidebar:not(.active) {
      background-color: transparent !important;
    }

    .profile-container .profile-side-button, .sidebar .side-button {
      padding: 30px 15px !important;
    }

  /**/

  profile:has(.profile-container.active),
  music-player:has(.sidebar.active) {
    z-index: 16;
  }

  .profile-container:not(.active),
  .sidebar:not(.active) {
    width: 54px !important;
  }

  /**/

  .backdrop-overlay {
    opacity: 0;
    position: fixed;
    inset: 0;
    background-color: #00000085;
    transition: 0.4s ease-in-out;
    pointer-events: none;
  }

    .backdrop-overlay.active {
      opacity: 1;
      pointer-events: all;
    }

  /**/

  .banner .title {
    font-size: 30pt !important;
  }
}

@media (max-width: 690px) {
  .banner .text-group {
    height: 172px;
    justify-content: flex-start !important;
  }
}
