@media (max-width: 1032px) {

  body::before, body::after {
    content: none;
  }

  .main-frame {
    padding: 0 !important;
  }

  .content {
    padding: 30px 15px !important;
  }

  .col-4 {
    grid-template-columns: 1fr 1fr;
  }

  .col-2 {
    grid-template-columns: 1fr;
  }

  .nav-menu {
    top: 0 !important;
    gap: 0 !important;
    justify-content: space-evenly;
    position: fixed !important;
    width: 100%;
    padding: 0 80px !important;
  }

  .profile-container {
    display: none !important;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    height: 100vh !important;
  }

  .sidebar {
    position: fixed !important;
    top: 0 !important;
    right: 0;
    height: 100vh !important;
  }

    .sidebar:not(.active) .side-button,
    .sidebar:not(.active) {
      background-color: transparent !important;
    }
}
