@media (max-width: 1032px) {

  body::before, body::after {
    content: none;
  }

  .main-frame {
    padding: 0 !important;
  }

  .content {
    padding: 15px !important;
  }

  .profile-container {
    display: none !important;
  }

  .sidebar {
    display: none !important;
  }

  .col-4 {
    grid-template-columns: 1fr 1fr;
  }

  .col-2 {
    grid-template-columns: 1fr;
  }

  .nav-menu {
    top: 0px !important;
  }
}
