@media (max-width: 1032px) {

  body::before, body::after {
    content: none;
  }

  .main-frame {
    padding: 0 !important;
  }

  .content {
    padding: 30px 15px !important;
  }

  .col-4 {
    grid-template-columns: 1fr 1fr;
  }

  .col-2 {
    grid-template-columns: 1fr;
  }

  .nav-menu {
    top: 0 !important;
    gap: 0 !important;
    justify-content: space-evenly;
    position: fixed !important;
    width: 100%;
    padding: 0 80px !important;
  }

  .profile-container {
    /*display: none !important;*/
    position: fixed !important;
    top: 0 !important;
    left: 0;
    height: 100vh !important;
    transition: 0.4s ease-in-out;
  }

    .profile-container .profile-side-button {
      display: flex !important;
      transition: 0.4s ease-in-out;
    }

    .profile-container.active .profile-side-button {
      left: calc(290px - 80px);
    }

    .profile-container .profile-card {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }

    .profile-container .info-card {
      opacity: 0;
      transition: opacity 0s;
    }

    .profile-container.active .profile-card {
      opacity: 1;
      transition: opacity 0.4s ease-in-out 0.3s;
    }
    
    .profile-container.active .info-card {
      opacity: 1;
      transition: opacity 0.4s ease-in-out 0.6s;
    }

    .profile-container:not(.active) {
      background-color: transparent !important;
      width: 80px !important;
      overflow: hidden !important;
    }


  .sidebar {
    position: fixed !important;
    top: 0 !important;
    right: 0;
    height: 100vh !important;
  }

    .sidebar:not(.active) .side-button,
    .sidebar:not(.active) {
      background-color: transparent !important;
    }
}
