body, body::after, body::before,
.tag, .time-line, .circle {
  background-color: #191923;
  color: white;
}

.page-container {
  background-color: #1e1e28
}

.profile-container,
.sidebar {
  background-color: #20202A;
}

.profile-card::after,
.song-list-UI .song-item.active .song-info::after,
.r-card::after {
  content: "";
  background-color: #2B2B36;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -10;
}

.side-button, .song-list-UI {
  background-color: #24242F;
}

.highlight {
  color: #FF8F99 !important
}

.highlight-color {
  background-color: #FF8F99 !important
}

.highlight-border {
  border-color: #FF8F99
}

input[type="range"] {
  accent-color: #FF8F99
}

.banner .background-image {
  background-image: url('../../../public/images/banner-photo.jpg');
}

.r-modal-backdrop {
  background-color: #00000085;
}
