body, body::after, body::before,
.tag, .time-line, .circle {
  background-color: #191923;
  color: white;
}

.page-container {
  background-color: #1e1e28
}

.profile-container,
.sidebar {
  background-color: #20202A;
}

.r-card, .song-list-UI .song-item.active .song-info {
  background-color: #2B2B36;
}

.profile-card, .side-button, .song-list-UI {
  background-color: #24242F;
}

.highlight {
  color: #FF8F99
}

.highlight-color {
  background-color: #FF8F99
}

.highlight-border {
  border-color: #FF8F99
}

input[type="range"] {
  accent-color: #FF8F99
}

.banner .background-image {
  background-image: url('../../../public/images/banner-photo.jpg');
}
