body {
  background-color: #191923;
  color: white;
}

.profile-container,
.sidebar {
  background-color: #20202A;
}

.profile-card, .side-button, .nav-menu {
  background-color: #24242F;
}

.highlight {
  color: #FF8F99
}

.highlight-color {
  background-color: #FF8F99
}

.banner .background-image {
  background-image: url('../../../public/images/banner-photo.jpg');
}
