body,
body::after,
body::before,
.nav-menu,
.tag, .circle {
  background-color: #191923;
  color: white;
}

.profile-container,
.sidebar {
  background-color: #20202A;
}

.r-card {
  background-color: #2B2B36;
}

.profile-card, .side-button {
  background-color: #24242F;
}

.highlight {
  color: #FF8F99
}

.highlight-color {
  background-color: #FF8F99
}

.highlight-border {
  border-color: #FF8F99
}

.banner .background-image {
  background-image: url('../../../public/images/banner-photo.jpg');
}
