@font-face {
  font-family: "Material";
  src: url("../fonts/material-symbols-rounded.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.gi {
  display: flex;
}

  .gi::before {
    font-family: "Material" !important;
    display: inline-block;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14pt;
  }

  .gi.filled:before {
    font-variation-settings: 'FILL' 1, /* filled */
    'wght' 300, /* regular / light */
    'GRAD' 0, 'opsz' 24;
  }

.gi-download::before {
  content: "\f090";
}

.gi-developer::before {
  content: "\e874";
}

.gi-palette::before {
  content: "\e40a";
}

.gi-contract::before {
  content: "\f5a0";
}

.gi-calendar-clock::before {
  content: "\f540";
}

.gi-music::before {
  content: "\e03d";
}

.gi-volume_up::before {
  content: "\e050";
}

.gi-volume_mute::before {
  content: "\e04e";
}

.gi-volume_down::before {
  content: "\e04d";
}

.gi-skip_previous::before {
  content: "\e045";
}

.gi-skip_next::before {
  content: "\e044";
}

.gi-play_arrow::before {
  content: "\e037";
}

.gi-pause::before {
  content: "\e034";
}

.gi-account_circle::before {
  content: "\e853";
}
