.r-card:has(.r-floating-div),
.modal-content:has(.r-floating-div) {
  position: relative;
}

.r-floating-div-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  /*z-index: -10;*/
  border-radius: inherit;
  overflow: hidden;
  /**/
  z-index: -5;
  mix-blend-mode: soft-light;
}

.profile-card:hover .r-floating-div,
.song-item:hover .r-floating-div,
.r-button:hover .r-floating-div,
.r-card:hover .r-floating-div {
  opacity: 50%;
}

.r-floating-div {
  z-index: -10;
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  pointer-events: none;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) translateZ(0);
  /**/
  background: radial-gradient(#c1c1c1, transparent 60%);
  opacity: 0;
  transition: opacity 0.4s ease;
}

  .r-floating-div.smooth {
    transition: all 1s ease;
  }
