.no-transition,
.no-transition *,
.no-transition::before,
.no-transition::after {
  transition: none !important;
}


.profile-card,
.side-button,
.r-card,
.song-list-UI .song-item.active .song-info,
.page-container,
body,
body::after,
body::before,
.tag,
.time-line,
.circle {
  transition: background-color 0.4s ease;
}

.profile-container, .sidebar {
  transition: 0.4s ease-in-out, 0s height, background-color 0.4s ease;
}

  .sidebar.active .bg-transition {
    transition: background-color 0.4s ease !important;
  }

/*.highlight,
.highlight-border,
input[type="range"] {
  transition: 0.4s ease
}*/

/*.fade-gradient {
  transition: 0.4s ease;
}*/

.music-player-UI, .song-list-UI {
  transition: opacity 0.15s ease-in-out, background-color 0.4s ease;
}

.sidebar.active .player-title,
.sidebar.active .music-player-UI, .sidebar.active .song-list-UI {
  transition: opacity 0.4s ease-in-out 0.3s, background-color 0.4s ease;
}
