.no-transition,
.no-transition *,
.no-transition::before,
.no-transition::after {
  transition: none !important;
}


.profile-card,
.side-button,
.song-list-UI,
.r-card,
.song-list-UI .song-item.active .song-info,
.page-container,
body,
body::after,
body::before,
.tag,
.time-line,
.circle {
  transition: background-color 0.4s ease, color 0.4s ease;
}

.profile-container, .sidebar {
  transition: 0.4s ease-in-out, 0s height, background-color 0.4s ease, color 0.4s ease;
}

.highlight,
.highlight-border,
input[type="range"] {
  transition: 0.4s ease
}

/*.fade-gradient {
  transition: 0.4s ease;
}*/

/*.music-player-UI, .song-list-UI {
  transition: background-color 0.4s ease;
}*/
