<div class="banner">

  <div class="text-group">
    <span class="subtitle">
      Hello, I'm Aly!
    </span>
    <span class="title">
      <span>I can create </span>
      <span class="highlight">
        <app-rotating-text [texts]="['cool websites.', 'wireframes.', 'mockups.', 'prototypes.', 'video presentations.', '2D illustrations.', 'logo designs.']"
                           [period]="2000">
        </app-rotating-text>
      </span>

    </span>
  </div>

  <div class="fade-gradient"></div>
  <div class="background-image"></div>
</div>
