
<div class="page-title">My Works</div>

<!-- Filter Tabs -->
<div class="portfolio-filters">
  <button *ngFor="let tag of filters"
          class="tag"
          [class.highlight-color]="filter === tag.value"
          (click)="setFilter(tag.value)">
    {{ tag.label }}
  </button>
</div>

<!-- Portfolio Grid -->
<div class="r-col-2">
  <div class="portfolio-item r-card"
       *ngFor="let item of filteredItems; trackBy: trackByTitle"
       role="button"
       (click)="portfolioClick(item)"
       [attr.data-bs-target]="getModalTarget(item)"
       [attr.data-bs-toggle]="getModalTarget(item) ? 'modal' : null">


    <img [src]="item.src"
         [alt]="item.title">

    <div class="overlay r-card">
      <b>{{ item.title }}</b>
      <span>{{ item.description }}</span>
    </div>

  </div>
</div>



<div class="modal fade"
     data-bs-backdrop="false"
     id="portfolioModal"
     tabindex="-1"
     aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered-draggable" isDraggableModal
        [ngClass]="[isModalMaximized ? 'modal-dialog-max' : '' , selectedItem?.modalWidth || '']">
    <div class="modal-content" Spotlight>

      <div class="modal-header">
        <h5 class="modal-title">{{ selectedItem?.title }}</h5>

        <div class="ornaments">
          <button class="bi win-maximize modal-ornament" (click)="MaxModal_Toggle()" *ngIf="this.isModalMaximized === false"></button>
          <button class="bi win-minimize modal-ornament" (click)="MaxModal_Toggle()" *ngIf="this.isModalMaximized === true"></button>

          <button type="button" class="btn-close modal-ornament" (click)="Reset()" data-bs-dismiss="modal"></button>
        </div>

      </div>

      <div class="modal-body">

        <div class="gallery-wrapper">
          <img *ngFor="let image of modalImages; let i = index"
               [src]="image"
               [alt]="selectedItem?.title + ' image ' + (i + 1)"
               class="img-fluid gallery-image">
        </div>

      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button class="btn btn-cancel btn-outline-secondary" (click)="Reset()" data-bs-dismiss="modal">
          Close
        </button>
      </div>

    </div>
  </div>

  <div class="r-modal-backdrop"></div>
</div>
