:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.portfolio-filters {
  display: flex;
  gap: 10px 5px;
  flex-wrap: wrap;
}

  .portfolio-filters button {
    background-color: transparent;
    border: none;
  }

.portfolio-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

  .portfolio-item img,
  .portfolio-item video {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s;
  }

  .portfolio-item:hover img,
  .portfolio-item:hover video {
    transform: scale(1.1);
  }

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s;
  padding: 15px;
  gap: 0;
}


  .overlay.r-card * {
    margin: 0
  }

  .overlay b {
    font-size: 12pt;
  }

  .overlay span {
    font-style: italic;
    opacity: 0.7;
  }

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-item.r-card {
  padding: 0;
  aspect-ratio: 1920 / 1080;
}

.modal-body {
  padding: 0;
  overflow: auto;
  height: 640px;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
