/*:host {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}*/

.margin-align {
  inset: 0;
  margin: auto;
  position: relative;
  max-width: 1440px;
}

.main-frame {
  padding: 15px;
  display: flex;
  position: relative;
}

.page-container {
  position: relative;
}
