<div class="page-title">My Services</div>

<div class="r-col-4">

  <div class="r-card" Spotlight>
    <i class="gi gi-developer highlight"></i>
    <span class="title">Web Development</span>
    <span>I have been working on web design for 2+ years.</span>
  </div>

  <div class="r-card" Spotlight>
    <i class="gi gi-palette highlight"></i>
    <span class="title">Illustrator</span>
    <span>I have experience working on illustration design for 5+ years.</span>
  </div>

  <div class="r-card" Spotlight>
    <i class="gi gi-contract highlight"></i>
    <span class="title">Branding Identity</span>
    <span>i can help make you a brand that is catchy and leaves a trace.</span>
  </div>

  <div class="r-card" Spotlight>
    <i class="gi gi-calendar-clock highlight"></i>
    <span class="title">Fast Delivery</span>
    <span>I deliver to your business as fast as possible.</span>
  </div>

</div>
