<div class="col-2">
</div>

<div class="col-2">

  <div class="vertical-timeline">
    <div class="page-title">Education</div>
    <div class="time-line"></div>
    <timeline-item itemTitle="Polytechnic University of the Philippines"
                   itemRole="Student" itemYear="2018 - 2022"
                   itemDesc="Bachelor of Science in Computer Engineering. Graduated as Magna Cum Laude."
                   itemImg="PUP.png"></timeline-item>
    <timeline-item itemTitle="Our Lady of Fatima University Antipolo"
                   itemRole="Student" itemYear="2016 - 2018"
                   itemDesc="STEM Strand | Senior High School. Graduated with Honors."
                   itemImg="OLFU.png"></timeline-item>
    <timeline-item itemTitle="Don Antonio de Zuzuarregui Sr. Memorial Academy"
                   itemRole="Student" itemYear="2012 - 2016"
                   itemDesc="Junior High School. Graduated with Honors."
                   itemImg="DAZSMA.png"></timeline-item>

    <div class="page-title">Competencies</div>
    <timeline-item [itemTagSeries]="competenciesTags"></timeline-item>

    <timeline-item itemTitle="Experienced working for an American-based Company, handling a Government Project"
                   [itemBulletSeries]="CompBullet1"></timeline-item>

    <timeline-item itemTitle="Introduced to the following technologies"
                   [itemBulletSeries]="CompBullet2"></timeline-item>

    <timeline-item itemTitle="Became experienced with"
                   [itemBulletSeries]="CompBullet3"></timeline-item>

  </div>



  <div class="vertical-timeline">
    <div class="page-title">Work History</div>
    <div class="time-line"></div>
    <timeline-item itemTitle="ME-ICT Corp."
                   itemRole="Software Engineer & UI/UX Designer for United Training Services" itemYear="Sept 2024 - Present"
                   [itemBulletSeries]="WorkBullet3"
                   itemImg="MEICT.png"></timeline-item>
    <timeline-item itemTitle="Data Defenders, LLC"
                   itemRole="Software Engineer & UI/UX Designer" itemYear="Jan 2023 – Sept 2024"
                   [itemBulletSeries]="WorkBullet1"
                   itemImg="DD.png"></timeline-item>
    <timeline-item itemTitle="Freelance Graphic Artist"
                   itemRole="2D Character Illustrator" itemYear="Apr 2020 – Feb 2023"
                   [itemBulletSeries]="WorkBullet2"
                   itemImg="PFP.png"></timeline-item>
    <timeline-item [itemTagSeries]="softwareTags"></timeline-item>
  </div>

</div>

