<div class="col-2">
  <div class="page-title">Education</div>
  <div class="page-title">Work History</div>
</div>

<div class="col-2">

  <div class="vertical-timeline">
    <timeline-item itemTitle="Polytechnic University of the Philippines"
                   itemRole="Student" itemYear="2018 - 2022"
                   itemDesc="Bachelor of Science in Computer Engineering. Graduated as Magna Cum Laude."></timeline-item>
  </div>

  <div class="vertical-timeline">
    <timeline-item></timeline-item>
  </div>

</div>
