:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.vertical-timeline {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.time-line {
  position: absolute;
  right: 5px;
  top: 0;
  height: calc(100% - 90px);
  width: 10px;
  margin-top: 90px;
}

.r-col-2 {
  align-items: start;
}
