<div class="profile-container" [class.active]="isActive">

  <button class="r-button profile-side-button" (click)="Toggle()" [disabled]="toggleDisabled">
    <i class="gi gi-account_circle filled toggle"></i>
  </button>

  <div class="profile-card">

    <div class="picture-frame">
      <img class="picture" src="images/Aly.png" />
      <!--<div class="picture"></div>-->
      <div class="status highlight-color"></div>
    </div>

    <b class="name">
      Alyssa Rhenoa Nicole Bautista
    </b>

    <div class="role">
      <span>UI/UX Engineer</span>
      <span>Front-end Developer</span>
    </div>

  </div>

  <div class="info-card">

    <div class="bio">
      <div class="split"><b>Username:</b><span>&#64;rhenoa24</span></div>
      <div class="split"><b>Residence:</b><span>Antipolo City, Rizal</span></div>
      <!--<div class="split"><b>Age:</b><span>26</span></div>-->
      <div class="split"><b>Work Preference:</b><span>Remote / Hybrid</span></div>
      <div class="split"><b>Experience:</b><span>~3 Years</span></div>
    </div>

    <hr />

    <div class="code">
      <b class="faded">CODE SKILLS</b>
      <skill-bar Name="Angular" [Number]="95"></skill-bar>
      <skill-bar Name="Blazor" [Number]="80"></skill-bar>
      <skill-bar Name="HTML" [Number]="100"></skill-bar>
      <skill-bar Name="CSS" [Number]="100"></skill-bar>
      <skill-bar Name="Typescript" [Number]="90"></skill-bar>
      <skill-bar Name="Javascript" [Number]="80"></skill-bar>
      <skill-bar Name="Bootstrap" [Number]="90"></skill-bar>
      <skill-bar Name="C# / C++" [Number]="50"></skill-bar>
      <skill-bar Name="SQL" [Number]="30"></skill-bar>
      <skill-bar Name="KDiff3" [Number]="50"></skill-bar>
      <skill-bar Name="ASP.Net Core Web API" [Number]="30"></skill-bar>
      <skill-bar Name="Azure" [Number]="20"></skill-bar>
    </div>

    <hr />

    <div class="design">
      <b class="faded">DESIGN SKILLS</b>
      <skill-bar Name="Figma" [Number]="95"></skill-bar>
      <skill-bar Name="Balsamiq" [Number]="90"></skill-bar>
      <skill-bar Name="Canva" [Number]="90"></skill-bar>
      <skill-bar Name="IbisPaint X" [Number]="100"></skill-bar>
      <skill-bar Name="Camtasia" [Number]="95"></skill-bar>
      <skill-bar Name="Capcut" [Number]="95"></skill-bar>
      <skill-bar Name="Wondershare Filmora" [Number]="90"></skill-bar>
      <skill-bar Name="Cyberlink PowerDirector" [Number]="85"></skill-bar>
      <skill-bar Name="VRoid" [Number]="90"></skill-bar>
      <skill-bar Name="Unreal Engine" [Number]="30"></skill-bar>
      <skill-bar Name="Blender" [Number]="30"></skill-bar>
      <skill-bar Name="Unity" [Number]="50"></skill-bar>
    </div>

    <hr />

    <b class="link faded">
      DOWNLOAD CV&nbsp;
      <i class="gi gi-download"></i>
    </b>
    <br />

  </div>

</div>
<div class="backdrop-overlay" [class.active]="isActive" (click)="Toggle()"></div>
