.profile-container {
  width: 290px;
  height: 100%;
}

.profile-card, .info-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.profile-card {
  gap: 15px;
  align-items: center;
  text-align: center;
}

.role {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.picture-frame {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: white;
  position: relative;
}

.status {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  bottom: 3px;
  right: 4px;
}
