.profile-container {
  width: 290px;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}


.profile-card, .info-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.profile-card {
  gap: 15px;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.role {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.picture-frame {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: relative;
  /**/
  background-image: url('../../../public/images/1x1.jpg');
  background-size: contain;
}

.status {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  bottom: 3px;
  right: 4px;
}

.info-card, .bio, .code, .design {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.download {
  display: flex;
  align-items: center;
}

  .download i {
    font-size: 17px;
  }
