.profile-container {
  position: sticky;
  top: 15px;
  height: calc(100vh - 30px);
  width: 290px;
  z-index: 15;
  display: flex;
  flex-direction: column;
}


.profile-card, .info-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile-card {
  gap: 15px;
  align-items: center;
  text-align: center;
  top: 0;
  z-index: 1;
}

.role {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.picture-frame {
  position: relative;
}

  .picture-frame .picture {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    position: relative;
    /**/
    background-image: url('../../../public/images/1x1.jpg');
    background-size: contain;
    z-index: -1;
  }

.status {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  bottom: 3px;
  right: 4px;
}

  .status::after {
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 100%;
    /**/
    transition: .4s ease-in-out;
    opacity: .5;
    transform: scale(90%);
    inset: 0;
  }

.picture-frame .status::after {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(170%);
  }
}


.info-card {
  overflow: hidden;
}

.info-card:hover {
  overflow: auto;
  padding-right: 25px;
}

.info-card, .bio, .code, .design {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.download {
  display: flex;
  align-items: center;
}

  .download i {
    font-size: 17px;
  }

.profile-side-button {
  display: none;
}
