.modal-dialog {
  --bs-modal-width: 860px;
}

.modal-header .item-img {
  top: 0;
  right: 0;
  margin-right: 10px;
}

.nav-tabs {
  padding-left: 0;
  min-width: 135px;
}

.modal-content {
  background-color: #ffffff05;
  backdrop-filter: blur(40px);
  color: inherit;
}

  .modal-content:hover .r-floating-div {
    opacity: 10%;
  }

.r-floating-div {
  width: 1000px;
  height: 1000px;
}

.modal-content .r-floating-div-container {
  z-index: -10;
}

.modal-body {
  padding: 0;
  height: 365px;
  overflow: auto;
}

  .modal-body .content {
    padding: 0 12px
  }

  .tab-content {
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-right: 10px;
    width: 100%;
  }

.gallery {
  margin-bottom: 1rem;
}

  .gallery img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 1;
  }
