.modal-dialog {
  --bs-modal-width: 860px;
}

.modal-header .item-img {
  top: 0;
  right: 0;
  margin-right: 10px;
}

.nav-tabs {
  padding-left: 0;
  min-width: 135px;
}

.modal-content {
  background-color: transparent;
  backdrop-filter: blur(40px);
  color: inherit;
}

  .modal-content:hover .r-floating-div {
    opacity: 10%;
  }

.r-floating-div {
  width: 1000px;
  height: 1000px;
}

.modal-content .r-floating-div-container {
  z-index: -10;
}

.modal-content ul, .modal-content p {
  margin: 0;
}

.modal-body {
  padding-bottom: 0;
  display: flex;
  gap: 20px;
  height: 385px;
}

.tab-content {
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.gallery {

}

  .gallery img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 1;
  }
