.frame {
  position: relative;
  z-index: 1;
}

.box {
  position: relative;
}


.item-title {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

  .item-title b {
    font-size: 12pt;
  }

  .item-title .subtitle {
    opacity: 0.3;
    font-style: italic;
  }

.split {
  flex-direction: row;
/*  flex-wrap: wrap;
  gap: 10px;*/
}

.r-card.box {
  margin-right: 45px;
  gap: 20px;
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  /**/
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;
  box-sizing: border-box;
  margin-top: 33px;
}

  .circle .arrow {
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 0;
    transform: rotate(135deg) translate(25px, 25px);
    top: -2px;
    left: -2px;
  }

  .circle::before {
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 100%;
    /**/
    transition: .4s ease-in-out;
    opacity: .5;
    transform: scale(190%)
  }

.frame:hover .circle::before {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(300%);
  }
}

.title-img {
  display: flex;
  gap: 10px;
}

.item-img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -10px;
  right: -5px;
  border-radius: 10px;
}

.tag {
    position: relative;
    left: -5px;
}

.item-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

ul {
  padding-left: 15px;
}
