.sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-button {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
