<div class="sidebar" [class.active]="isActive">

  <button class="r-button side-button" (click)="Toggle()" [disabled]="toggleDisabled" Spotlight>
    <i class="gi filled gi-music toggle"></i>
    <div class="player-title" style="display: flex; gap: 5px">
      <span *ngIf="isPlaying">Now Playing</span>
      <span *ngIf="!isPlaying">Paused</span>
      <app-bars [isPlaying]="isPlaying"></app-bars>
    </div>
  </button>

  <div class="music-player-UI">

    <div class="volume-set">
      <div class="volume-icons">
        @if (volume === 1) {
        <i class="gi filled gi-volume_up"></i>
        } @else if (volume === 0) {
        <i class="gi filled gi-volume_mute"></i>
        } @else {
        <i class="gi filled gi-volume_down"></i>
        }
      </div>

      <input class="volume-slider" type="range" min="0" max="100" [value]="volume * 100" (input)="setVolume($event)" />
    </div>

    <div class="music-nav">
      <div class="left">
        <button (click)="previous()" class="r-button"><i class="gi filled gi-skip_previous"></i></button>
        <app-hexagon [itemImg]="previousTrack.img" [isDimmed]="true"></app-hexagon>
      </div>

      <div class="center"
           (mouseenter)="hovering = true"
           (mouseleave)="hovering = false">
        <div class="seeker-box">
          <div class="seeker-container">
            <input type="range"
                   min="0"
                   max="100"
                   [value]="progress"
                   (input)="seek($event)" />
            <div class="split">
              <span>{{ formatTime(audio.currentTime) }}</span>
              <span>{{ formatTime(audio.duration) }}</span>
            </div>
          </div>
        </div>

        <app-hexagon [itemImg]="tracks[currentTrackIndex].img" [hovered]="hovering"></app-hexagon>
      </div>

      <div class="right">
        <button (click)="next()" class="r-button"><i class="gi filled gi-skip_next"></i></button>
        <app-hexagon [itemImg]="nextTrack.img" [isDimmed]="true"></app-hexagon>
      </div>
    </div>

    <div class="track-play" (click)="playToggle()">
      <div>
        <button *ngIf="!isPlaying" class="r-button"><i class="gi filled gi-play_arrow"></i></button>
        <button *ngIf="isPlaying" class="r-button"><i class="gi filled gi-pause"></i></button>
      </div>

      <div class="info">
        <span class="song">{{ tracks[currentTrackIndex].title }}</span>
        <i class="faded">{{ tracks[currentTrackIndex].artist }}</i>

      </div>
    </div>

  </div>

  <div class="song-list-UI">
    <div class="song-item"
         *ngFor="let track of tracks; let i = index"
         [class.active]="i === currentTrackIndex"
         (click)="playTrack(i)">

      <div style="z-index: 1">
        <app-hexagon [itemImg]="track.img" [rotate]="true"></app-hexagon>
      </div>

      <div class="song-info" Spotlight>
        <span class="song-title">{{ track.title }}</span>
        <i class="song-artist faded">{{ track.artist }}</i>
      </div>
    </div>
  </div>
  <br />

</div>
<div class="backdrop-overlay" [class.active]="isActive" (click)="Toggle()"></div>
