<div class="sidebar" [class.active]="isActive">

  <button class="r-button side-button" (click)="Toggle()" [disabled]="toggleDisabled">
    <i class="material-symbols-rounded toggle">queue_music</i>
    <span class="player-title">Music Player</span>
  </button>

  <div class="music-player-UI">
    <h3>{{ tracks[currentTrackIndex].title }}</h3>

    <div class="controls">
      <button (click)="previous()">⏮️</button>
      <button (click)="play()">▶️</button>
      <button (click)="pause()">⏸️</button>
      <button (click)="next()">⏭️</button>
    </div>
    <input type="range" min="0" max="100" [value]="volume * 100" (input)="setVolume($event)" />

  </div>

</div>
