.sidebar {
  position: sticky;
  top: 15px;
  height: calc(100vh - 30px);
  width: 80px;
  display: flex;
  flex-direction: column;
  z-index: 15;
  transition: 0.4s ease-in-out;
  /*box-shadow: -5px 0px 10px 0px #00000030;*/
}

.side-button {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px;
}

  .side-button i {
    transition: 0.4s ease-in-out;
  }

.player-title {
  opacity: 0;
  position: absolute;
  right: 30px;
  white-space: nowrap;
  transition: 0.4s ease-in-out;
  /**/
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.music-player-UI, .song-list-UI {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.15s ease-in-out;
}

.track-play {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  width: calc(100% - 115px);
  left: 90px;
  top: -90px;
  position: relative;
  cursor: pointer;
}

.volume-set {
  z-index: 2;
  position: relative;
}

.volume-slider {
  position: absolute;
  transform: rotate(270deg) translate(-115px, -45px);
}

.volume-icons {
  position: absolute;
  transform: translate(10px, 30px);
}

.info {
  display: flex;
  flex-direction: column;
}

  .info .song {
    font-size: 12pt
  }

/*===========================================*/
.music-nav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
}

  .music-nav .left {
    position: relative;
    top: 105px;
    left: 50px;
  }

    .music-nav .left button {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      height: fit-content;
      z-index: 1;
      margin: auto;
    }

  .music-nav .right {
    position: relative;
    bottom: 105px;
    right: 50px;
  }

    .music-nav .right button {
      position: absolute;
      left: 20px;
      top: 0;
      bottom: 0;
      height: fit-content;
      z-index: 1;
      margin: auto;
    }

  .music-nav .center {
    position: relative;
  }

    .music-nav .center .seeker-box {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 10px;
      width: 115px;
      margin: auto;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }

    .music-nav .center:hover .seeker-box {
      opacity: 1;
    }

    .music-nav .center .seeker-box .seeker-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

      .music-nav .center .seeker-box .seeker-container .split {
        width: 100%;
      }

    .music-nav .center .seeker-box input[type="range"] {
      width: 100%;
    }

/*===========================================*/
.song-list-UI {
  width: 100%;
  /*background: red;*/
  padding: 20px;
  padding-bottom: 50px;
  padding-right: 0;
  position: absolute;
  top: 480px;
  height: calc(100% - 480px);
  /**/
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  /**/
  display: flex;
  flex-direction: column;
}

  .song-list-UI .song-item {
    display: flex;
    align-items: center;
    margin-top: -10px;
    cursor: pointer;
  }

    .song-list-UI .song-item:nth-child(even) {
      padding-left: 35px;
    }

    .song-list-UI .song-item .song-info {
      padding: 5px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: -30px;
      padding-left: 40px;
      padding-right: 15px;
      font-size: 9pt;
    }

      .song-list-UI .song-item .song-info .song-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

    .song-list-UI .song-item.active .song-info .song-title {
      font-weight: bold;
    }

/*===========================================*/
.sidebar.active {
  width: 300px;
}

  .sidebar.active .side-button i {
    transform: translateX(-110px);
  }

  .sidebar.active .player-title,
  .sidebar.active .music-player-UI, .sidebar.active .song-list-UI {
    opacity: 1;
    transition: opacity 0.4s ease-in-out 0.3s;
    pointer-events: all;
    user-select: initial;
  }

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
