.sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 15;
  transition: 0.4s ease-in-out;
}

.side-button {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px;
}

  .side-button i {
    transition: 0.4s ease-in-out;
  }

.player-title {
  opacity: 0;
  position: absolute;
  right: 30px;
  white-space: nowrap;
  transition: 0.4s ease-in-out;
}

.music-player-UI {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.2s ease-in-out;
}

.track-play {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: calc(100% - 110px);
  left: 90px;
  top: -90px;
  position: relative;
}

.volume-set {
  z-index: 2;
  position: relative;
}

.volume-slider {
  position: absolute;
  transform: rotate(270deg) translate(-115px, -45px);
}

.volume-icons {
  position: absolute;
  transform: translate(10px, 30px);
}

.info {
  display: flex;
  flex-direction: column;
}

  .info .song {
    font-size: 14pt
  }

/*===========================================*/
.music-nav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
}

  .music-nav .left {
    position: relative;
    top: 105px;
    left: 50px;
  }

    .music-nav .left button {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      height: fit-content;
      z-index: 1;
      margin: auto;
    }

  .music-nav .right {
    position: relative;
    bottom: 105px;
    right: 50px;
  }

    .music-nav .right button {
      position: absolute;
      left: 20px;
      top: 0;
      bottom: 0;
      height: fit-content;
      z-index: 1;
      margin: auto;
    }

  .music-nav .center {
    position: relative;
  }

    .music-nav .center .seeker-box {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 10px;
      width: 115px;
      margin: auto;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }

    .music-nav .center:hover .seeker-box {
      opacity: 1;
    }

    .music-nav .center .seeker-box .seeker-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

      .music-nav .center .seeker-box .seeker-container .split {
        width: 100%;
      }

    .music-nav .center .seeker-box input[type="range"] {
      width: 100%;
    }

/*===========================================*/
.sidebar.active {
  width: 300px;
  transform: translateX(-220px);
}

  .sidebar.active .side-button i {
    transform: translateX(-110px);
  }

  .sidebar.active .player-title {
    opacity: 1;
  }

  .sidebar.active .music-player-UI {
    opacity: 1;
    transition: opacity 0.4s ease-in-out 0.2s;
    pointer-events: all;
    user-select: initial;
  }

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
