.sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.side-button {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px;
}

  .side-button i {
    transition: 0.4s ease-in-out;
  }

.player-title {
  opacity: 0;
  position: absolute;
  right: 30px;
  white-space: nowrap;
  transition: 0.4s ease-in-out;
}

/*===========================================*/

.sidebar.active {
  width: 300px;
  transform: translateX(-220px);
}

  .sidebar.active .side-button i {
    transform: translateX(-110px);
  }

  .sidebar.active .player-title {
    opacity: 1;
  }
