/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  font-size: 10pt;
}

  body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 15px;
    z-index: 9999;
  }

  body::after {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    z-index: 9999;
  }

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* adjust size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}


.main-frame {
  padding: 15px;
  display: flex;
  position: relative;
}

.page-container {
  /*overflow: auto;*/
  position: relative;
  width: 1070px;
  padding-left: 290px;
  /*padding-right: 80px;*/
}

.r-button {
  color: inherit;
  border: 0;
  cursor: pointer;
}

.split {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 100%;
  opacity: 0.2;
}

.faded {
  opacity: 0.4;
}

/**/

.col-4 {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.page-title {
  font-size: 14pt;
  font-weight: 700;
}

.r-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

  .r-card .title {
    font-size: 14pt;
  }

  .r-card i {
    font-size: 50pt;
  }

/*.sidebar-container {
  position: absolute;
  right: 0;
  width: 80px;
}*/
