/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  font-size: 10pt;
  line-height: initial;
}

  body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 15px;
    z-index: 9999;
  }

  body::after {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    z-index: 9999;
  }

body {
  --scrollbar-color: #accdff4d;
  --scrollbar-color-hover: #accaff78;
}

* {
  box-sizing: border-box;
}

  *::-webkit-scrollbar {
    display: block;
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 5px;
  }

    *::-webkit-scrollbar-thumb:hover {
      background-color: var(--scrollbar-color-hover);
    }

  *::-webkit-scrollbar-button {
    display: none;
  }

  *::-webkit-scrollbar-corner {
    display: none;
  }

#home, #services, #work-experience, #portfolio, #contact {
  scroll-margin-top: 110px;
}


span {
  cursor: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.r-button {
  color: inherit;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

hr {
  width: 100%;
  opacity: 0.2;
}

.faded {
  opacity: 0.4;
}

.link {
  display: flex;
  align-items: stretch;
  cursor: pointer;
}

  .link.faded:hover {
    opacity: 1;
  }

/**/
.r-col-2 {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.r-col-4 {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.page-title {
  font-size: 14pt;
  font-weight: 700;
}

.r-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

  .r-card .title {
    font-size: 14pt;
  }

  .r-card i {
    font-size: 50pt;
  }

.tag {
  display: block;
  padding: 5px 15px;
  border-radius: 15px;
  white-space: nowrap;
  width: fit-content;
}
